<!-- <app-navbar></app-navbar> -->
<div class="main-page">
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Welcome to Martini Shot</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button
        mat-button
        (click)="openUserRegistrationDialog()"
        style="color: lightblue"
      >
        Sign Up
      </button>
      <button
        mat-button
        (click)="openUserLoginDialog()"
        style="color: lightblue"
      >
        Login
      </button>
      <!-- <button mat-button style="color: lightblue" (click)="openMoviesDialog()">
    All Movies
  </button> -->
    </mat-card-actions>
  </mat-card>
</div>
