$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

* {
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Noenderthaw";
//   src: url("https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap")
//     format("woff2");
//   font-display: swap;
// }

.main-page {
  margin-top: 100px;
  background-color: $background;
  flex-direction: column;
  align-items: center;
  padding: 3% 3%;
}
.welcome-card {
  margin: 10vh auto auto auto;
  background-color: $background-dark;
  width: 520px;
  height: 300px;
  border: 5px solid $blue;
  border-radius: 50%;
}
mat-card-title {
  font-family: "Neonderthaw";
  color: $orange;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 20px;
  display: flex;
  font-weight: 300;
  font-size: 32pt;
}
mat-card-title {
  text-shadow: 2px 2px 10px #fad102;

  filter: dropshadow(color=#000000, offx=2, offy=2);
}
mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}
button {
  margin-bottom: 5%;
  font-size: 15pt;
  color: $blue;
}
.glow:hover {
  text-shadow: 4px 4px 20px #65dff4;

  filter: dropshadow(color=#000000, offx=2, offy=2);
}
