$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

.director-dialog {
  border: 5px solid $blue;
  background-color: $background-dark;
}
.director-dialog-title {
  color: $orange;
  padding: 15px;
}
.director-first {
  color: $orange;
}
.director-second {
  color: $blue;
}
.director-close-button {
  color: $orange;
}
