$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

.summary-dialog {
  border: 5px solid $blue;
  background-color: $background-dark;
}
.movie-title {
  color: $orange;
  padding: 15px;
}
.summary-first {
  color: $orange;
}
.summary-second {
  color: $blue;
}
.summary-close {
  color: $orange;
}
