$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

.movie-view {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.image {
  align-items: center;
  height: 375px;
  width: 265px;
}
.movie-card {
  border: none;
  background-color: $background;
  display: grid;
  flex: 1 1 auto;
}
mat-card-title {
  font-size: x-large;
  color: orange;
  margin-bottom: 10px;
}
mat-card-subtitle {
  font-size: medium;
  color: lightblue;
  margin-bottom: 35px;
}
mat-card:nth-child(8)
// mat-card:nth-child(6)
{
  mat-card-subtitle {
    margin-bottom: 4px;
  }
}
// mat-card:nth-child(6) {
//   mat-card-subtitle {
//     margin-bottom: 4px;
//   }
// }

.fav-icon .movie-card-button {
  color: #add8e6;
}

.movie-card-button:hover {
  text-shadow: 4px 4px 20px #65dff4;

  filter: dropshadow(color=#add8e6, offx=2, offy=2);
}
