$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

mat-card {
  border: 5px solid $blue;
  background-color: $background;
}
mat-card-title {
  color: $orange;
  font-size: x-large;
  margin-bottom: 15px;
}
.sign-up {
  font-size: medium;
  color: $blue;
}
