$orange: orange;
$blue: lightblue;
$background: #303030;
$background-dark: #151515;

.profile-page {
  padding-top: 60px;
  background-color: $background;
}
.profile-card {
  margin: 25vh auto auto auto;
  background-color: $background-dark;
  width: 475px;
  height: 250px;
  border: 5px solid $blue;
}
mat-card-title {
  color: $blue;
  font-size: x-large;
}
#profile-name {
  color: $orange;
}
i {
  color: $blue;
  font-size: medium;
}
span {
  color: $orange;
  font-size: medium;
}
.profile-icon {
  color: $orange;
}
.profile-btn {
  color: $blue;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
